<!DOCTYPE html>
<html>
    <head>
        <title>Administração do Foodfy</title>
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header class="adm_header">
            <div class="adm_marca">
                <a href="/admin/recipes"><img src="/img/adm-logo.png" alt="Foodfy"></a>
            </div>
            <div class="adm_links">
                <a href="/admin/recipes">RECEITAS</a>
                <a href="/admin/chefs">CHEFS</a>
            </div>
        </header>

{% block content %}

{% endblock %}

    </body>
</html>