    <h4>Nome</h4> 
        <input 
            type="text" 
            name="name" 
            placeholder="Coloque o nome do chef"
            value="{{item.name}}"
        >
    <h4>Avatar</h4> 
        <input 
            type="text" 
            name="avatar" 
            placeholder="Coloque o avatar do chef"
            value="{{item.avatar}}"
        >
    <input type="hidden" name="id" value="{{item.id}}">