{% extends "admin/adm_layout.njk" %}

{% block content %}

    <div class="detail-top">
        <div class="detail-top-title">
            <h3>Gerenciar Chefs</h3>
        </div>
        <div class="detail-top-button">
            <a href="/admin/chefs/create">Cadastrar Chef</a>
        </div>
    </div>

    <section class="adm_chefs">
    {% for item in items %}
        <div class="adm_chef_item">
            <div>
                <img src="../img/{{item.avatar}}" alt="{{item.name}}">
            </div>
            <div>
                <h4>
                    {{item.name}}
                </h4>
                <h3>
                    {{item.total_recipes}} Receita(s)
                </h3>
                <a href="/admin/chefs/{{item.id}}"><strong>Visualizar</strong></a>
            </div>
        </div>
    {% endfor %}
    </section>
{% endblock %}