    <h4>Nome</h4> 
        <input 
            type="text" 
            name="name" 
            placeholder="Coloque o nome do chef"
            value="{{item.name}}"
        >
    <h4>Avatar</h4>
        {% if item.id != null and item.id != "" %}
            <input 
            type="text" 
            name="avatar" 
            id = "url"
            value="{{item.avatar}}"
            >
            <input type="hidden" name="file_id" value="{{item.file_id}}">
        {% endif %}
        <div id="photos-preview">
        
        </div>
        <div class="photos-upload-chef">
            <input 
                id="file1"
                type="file" 
                name="files"
                accept="image/*"
                class="boxUploadChef"
                onchange="PhotosUpload.handleFileInputChef(event)"
            >
            <label for="file1" class="lblUpload2">Enviar Avatar</label>
        
    <input type="hidden" name="id" value="{{item.id}}">

    