    <h4>Titulo da receita</h4> 
        <input 
            type="text" 
            name="title" 
            placeholder="Coloque o nome da receita"
            value="{{item.title}}"
        >
    <h4>Chef</h4> 
        <select name="author" placeholder="Coloque o nome do autor da receita">
            {% for chef in chefs %}
                <option value="{{chef.id}}" {% if chef.id == item.chef_id %} selected {% endif %}>{{chef.name}}</option>
            {% endfor %}     
        </select>
    <h4>Imagens da receita</h4> 
        <div class="photos-upload">
            <div>
                <input 
                    id = "file2"
                    type="file" 
                    name="files"
                    multiple
                    accept="image/*"
                    onchange="PhotosUpload.handleFileInput(event)"
                >
                <label for="file2" class="lblUpload">+</label>
                <p>Selecione até 5 fotos</p>
            </div>
            <div id="photos-preview">
            {%if files %}
                {% for image in files%}
                    <div class="photo" id="{{image.id}}">
                        <img src="{{image.src}}" alt="{{image.name}}">
                        <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
                    </div>
                {% endfor %}
                <input type="hidden" name="removed_files">
            {% endif %}
            </div>
        </div>
        
    <h4>Ingredientes</h4> 
    <div id="ingredients">
            {% if item.ingredients == null %}
            <div class="ingredient">
                <input 
                    type="text" 
                    name="ingredients[]"
                    value="" 
                    placeholder="Coloque cada ingrediente da receita"                    
                >
            </div>
            {% endif %}
            {% for i in item.ingredients %}
            <div class="ingredient">
                <input 
                    type="text" 
                    name="ingredients[]" 
                    value="{{i}}"
                >
            </div>
            {% endfor %}      
    </div>
    <button type="button" class="add-ingredient">Adicionar Ingrediente</button>
    <h4>Modo de preparo</h4> 
    <div id="preparations">
            {% if item.preparation == null %}
            <div class="preparation">
                <input 
                    type="text" 
                    name="preparation[]" 
                    value=""
                    placeholder="Coloque cada passo do modo de preparo"                    
                >
            </div>
            {% endif %}
            {% for i in item.preparation %}
            <div class="preparation">
                <input 
                    type="text" 
                    name="preparation[]" 
                    value="{{i}}"
                >
            </div>
            {% endfor %}
    </div>
    <button type="button" class="add-preparation">Adicionar Modo de Preparo</button>
    <h4>Informações adicionais</h4> 
        <textarea 
            name="information" 
            placeholder="Insira as informações adicionais" 
            rows="10"
        >{{item.information}}</textarea>
        <input type="hidden" name="id" value="{{item.id}}">
        <input type="hidden" name="user" value="{{session.userId}}">

<script>
    function addIngredient() {
        const ingredients = document.querySelector("#ingredients");
        const fieldContainer = document.querySelectorAll(".ingredient");
        // Realiza um clone do último ingrediente adicionado
        const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);
        // Não adiciona um novo input se o último tem um valor vazio
        if (newField.children[0].value == "") return false;

        // Deixa o valor do input vazio
        newField.children[0].value = "";
        ingredients.appendChild(newField);
    }

    document
    .querySelector(".add-ingredient")
    .addEventListener("click", addIngredient);

    function addPreparation() {
        const preparation = document.querySelector("#preparations");
        const fieldContainer = document.querySelectorAll(".preparation");

        // Realiza um clone do último ingrediente adicionado
        const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);

        // Não adiciona um novo input se o último tem um valor vazio
        if (newField.children[0].value == "") return false;

        // Deixa o valor do input vazio
        newField.children[0].value = "";
        preparation.appendChild(newField);
    }

    document
    .querySelector(".add-preparation")
    .addEventListener("click", addPreparation);
</script>
    