{% extends "admin/adm_login.njk" %}

{% block content %}
    <form method="POST" action="/login" >
        <div class="login-form">
            <div class="login-form-title">
                <h3>Iniciar Sessão</h3>
            </div>
            <div class="login-form-input">
                <h4>Email</h4> 
                <input 
                    type="text" 
                    name="email" 
                    placeholder="Digite seu email"
                >
                <h4>Senha</h4> 
                <input 
                    type="text" 
                    name="password" 
                    placeholder="Digite sua senha"
                >
            </div>
            <div class="login-form-button">
                <div>
                    <a href="#">Perdeu a senha?</a>
                </div>
                <div class="login-form-button-right">
                    <button class="btnSave">Acessar</a>
                </div>
            </div>
        </div> 
    </form>   
{% endblock %}