{% extends "admin/adm_layout.njk" %}

{% block content %}
        <div class="detail-top">
            <div class="detail-top-title">
                <h3>{{msg}}</h3>
            </div>
        </div>
 
{% endblock %}