{% extends "admin/adm_layout.njk" %}

{% block content %}
    <form method="POST" action="/admin/users">
        <div class="detail-top">
            <div class="detail-top-title">
                <h3>Bem vindo Usuário[Nome dinâmico]</h3>
            </div>
            <div class="detail-top-button">
                <button class="btnSave">Salvar</a>
            </div>
        </div>
        <section class="form-user">
            <div>
                <h4>Nome</h4> 
                <input 
                    type="text" 
                    name="name" 
                    value="Usuário Teste"
                >  
            </div>
            <div>
                <h4>Email</h4> 
                <input 
                    type="text" 
                    name="email" 
                    placeholder="teste@teste.com.br"
                >
            </div>
            <div>
                <h4>Senha</h4> 
                <input 
                    type="text" 
                    name="senha" 
                    placeholder="Digite a senha"
                >
            </div>
        </section>   
    </form>   
 
{% endblock %}