{% extends "admin/adm_layout.njk" %}

{% block content %}
        <div class="detail-top">
            <div class="detail-top-title">
                <h3>Atualizar Usuário</h3>
            </div>
            <div class="detail-top-button">
            <form id="form-delete" method="POST" action="/admin/users?_method=DELETE">
                <input type="hidden" name="idDel" value="{{item.id}}">
                <button type="submit" class="btnDelete">Deletar</a>                    
            </form>
            <form method="POST" action="/admin/users?_method=PUT">
                <button class="btnSave">Salvar</a>            
            </div>
        </div>
        <section class="form-user">
            <div>
                <h4>Nome</h4> 
                <input 
                    type="text" 
                    name="name" 
                    value="{{item.name}}"
                >  
            </div>
            <div>
                <h4>Email</h4> 
                <input 
                    type="text" 
                    name="email" 
                    value="{{item.email}}"
                >
            </div>
            <div>
                <input type="checkbox" {% if item.is_admin %} checked {% endif %} name="admin"><span>Administrador</span>
            </div>
            <input type="hidden" name="id" value="{{item.id}}">
            </form>
        </section>   
    </form>   
 
    <script>
        const formDelete = document.querySelector("#form-delete");
        formDelete.addEventListener("submit", (event) => {
            const confirmation = confirm("Tem certeza que deseja excluir esse usuário?");
            if(!confirmation) {
                event.preventDefault();
            }
        })
    </script>

{% endblock %}