<!DOCTYPE html>
<html>
    <head>
        <title>Foodfy</title>
        <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/scripts.js"></script>
    </head>
    <body>
        <header>
            <div class="marca">
                <a href="/"><img src="/img/logo.png" alt="Foodfy"></a>
            </div>
            <div class="links">
                <a href="/sobre">Sobre</a>
                <a href="/receitas">Receitas</a>
                <a href="/chefs">Chefs</a>
            </div>
            <div class="search">
                <form action="/receitas" method="GET">
                    <input 
                        type="text"
                        name="filter"
                        placeholder="Buscar uma receita"
                    >
                    <button type="submit">Buscar</button>
                </form>
            </div>
        </header>
        
{% block content %}

{% endblock %}

        <div class="footer" class="links">
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>

    </body>
</html>