{% extends "layout.njk" %}

{% block content %}
    <section class="cards">
    {% for item in items %}
        <div class="card_item">
            <a href="/receita/{{item.id}}">
                <img src="{{item.image}}" alt="{{item.title}}">
                <h4>
                    {{item.title}}
                </h4>
                <p>
                    {{item.namechef}}
                </p>
            </a>
        </div>
    {% endfor %}
    </section>
{% endblock %}